@import url(./__copyright/footer__copyright.css);
@import url(./__social/footer__social.css);
@import url(./__nav/footer__nav.css);
@import url(./__links/footer__links.css);
@import url(./__icons/footer__icons.css);
@import url(./__link/footer__link.css);
@import url(./__list-item/footer__list-item.css);
@import url(./__menu/footer__menu.css);
.footer{
  max-width: 1232px;
  height: 26px;
  padding-bottom: 26px;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  align-items: center;
  grid-area: footer;
}
@media screen and (max-width: 1024px){
  .footer{
    padding-left: 60px;
    padding-right: 40px;
  }
  }

@media screen and (max-width: 768px){
  .footer{
    max-width: 768px;
    height: 64px;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 22px;
  }
  }

  @media screen and (max-width: 460px){
    .footer{
      width: 320px;
      height: 176px;
      flex-direction: column;
    }
    }