@import url(./__cards/layout__cards.css);

.layout{
  background-image: url(../../images/main.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  width: 100%;
  background-size:cover;
  color: white;
  }

