.footer__copyright{
color: #B6BCBF;
font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
margin: 0;
font-size: 16px;
line-height: 22px;
grid-area: copyright;
grid-row: 2/2 ;
grid-column: 1/2;
}

