@import url(./__image/card__image.css);
@import url(./__source/card__source.css);
@import url(./__date/card__date.css);
@import url(./__about/card__about.css);
@import url(./__text/card__text.css);
@import url(./__article/card__article.css);
@import url(./__icon/card__icon.css);
@import url(./__keyword/card__keyword.css);
@import url(./__hover/card__hover.css);
.card {
  width: 400px;
  height: 576px;
  background-color: white;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}



@media screen and (max-width: 768px) {
  .card {
    width: 224px;
    height: 420px;
  }
}

@media screen and (max-width: 560px) {
  .card {
    width: 288px;
    height: 440px;
    margin-right: 0;
  }
}

.card:nth-child(-n + 3) {
  margin-top: 0px;
}
.card:nth-child(3n + 3) {
  margin-right: 0px;
}
