.card__about {
  width: 352px;
  max-width: 100%;
  margin: 0 0 40px 0;
  font-size: 16px;
  line-height: 22px;
  font-style: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 768px) {
  .card__about {
    max-width: 192px;
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (max-width: 320px) {
  .card__about {
    max-width: 256px;
  }
}
