@import url(./_place/button_place_cards.css);
@import url(./_place/button_place_search.css);
@import url(./_place/button_place_loggedin.css);
@import url(./_place/button_place_loggedout.css);

.button{
  width: 168px;
  height: 64px;
  box-sizing: border-box;
  border-radius: 100px;
  cursor: pointer;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}