.search__input{
  max-width: 608px;
  width: 100%;
  height: 64px;
  padding-left: 24px;
  padding-right: 208px;
  border-color: transparent;
  box-sizing: border-box;
  border-radius: 100px;
}

@media screen and (max-width: 768px){
  .search__input{
    width: 448px;
    height: 56px;
  }
  }
  @media screen and (max-width: 555px){
    .search__input{
      width: 415px;
      padding-right: 0;
      margin-bottom :16px;
      height: 56px;
    }
    }

  @media screen and (max-width: 470px){
    .search__input{
      width: 288px;
      padding-right: 0;
      margin-bottom :16px;
      height: 56px;
    }
    }