.button_place_loggedin {
  width: 112px;
  height: 48px;
  padding-right: 17px;
  border: 1px solid #1a1b22;
  color: #ffffff;
  box-sizing: border-box;
  background-color: transparent;
  background-repeat: no-repeat;
  margin-left: 15px;
}

@media screen and (max-width: 560px) {
  .button_place_loggedin {
    max-width: 288px;
    height: 48px;
    margin-top: 22px;
    margin-left: 15px;
  }
}
