.button_place_show {
  width: 288px;
  height: 64px;
  justify-self: flex-end;
  cursor: pointer;
  border-color: transparent;
  align-self: center;
}

.button_place_show:hover {
  transition: 0.2s ease-in;
  background-color: #347eff;
}

@media screen and (max-width: 768px) {
  .button_place_show {
    width: 240px;
  }
}

@media screen and (max-width: 475px) {
  .button_place_show {
    width: 288px;
  }
}
