@import url(./__title/savednews__title.css);
@import url(./__content/savednews__content.css);
@import url(./__keyword/savednews__keyword.css);
@import url(./__keywords/savednews__keywords.css);
@import url(./__subtitle/savednews__subtitle.css);

.savednews {
  max-width: 712px;
  width: 100%;
  display: flex;
  padding-bottom: 56px;
  align-items: center;
  flex-direction: column;
  grid-area: savednews;
}

@media screen and (max-width: 768px) {
  .savednews {
    max-width: 768px;
  }
}

@media screen and (max-width: 600px) {
  .savednews {
    max-width: 400px;
  }
}

