.search__button{
  width: 168px;
  height: 64px;
  background-color: #2F71E5;
  color: white;
  border-radius: 100px;
  justify-self: flex-end;
  cursor: pointer;
  border-color: transparent;
  position: absolute;
  right: 0;
  align-self: center;
}

.search__button:hover{
  transition: 0.2s ease-in;
  background-color: #347EFF;
}