@import url(./__avatar/about__avatar.css);
@import url(./__title/about__title.css);
@import url(./__text/about__text.css);
@import url(./__subtitle/about__subtitle.css);
@import url(./__content/about__content.css);
.about{
  width: 100%;
  background-color: white;
  padding-bottom: 80px;
  margin: 0 auto;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  grid-area: about;
}

@media screen and (max-width: 768px){
  .about{
    padding-bottom: 61px;
  }
  }


@media screen and (max-width: 650px){
  .about{
    padding-bottom: 80px;
  }
  }