@import url(./__avatar/about__avatar.css);
@import url(./__title/about__title.css);
@import url(./__text/about__text.css);
@import url(./__info/about__info.css);

.about{
  width: 1440px;
  max-width: 100%;
  background-color: white;
  display: flex;
  margin: 0 auto 30px auto;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  grid-area: about;
}

@media screen and (max-width: 768px){
  .about{
    width: 768px;
    flex-direction: column;
    padding-top: 22px;
  }
  }


@media screen and (max-width: 320px){
  .about{
    width: 320px;
  }
  }