
.card__keyword{
  color: black;
  position: absolute;
  top: 24px;
  left: 24px;
  width: 88px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: #ffffff;
}