.footer__link {
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding-right: 30px;
}



@media screen and (max-width: 660px) {
  .footer__link {
    font-size: 18px;
    line-height: 24px;
    padding-right: 0;
  }
  .footer__link:last-child {
    padding-right: 0;
  }
}
