@import url(./_function/card__icon_function_remove.css);
@import url(./_function/card__icon_function_favorite.css);

.card__icon{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  border-color: transparent;
  cursor: pointer;
  border-radius: 8px;
  background-position: center;
}
