@import url(./_clicked/header__hamburger-menu_clicked.css);
.header__hamburger-menu{
    display: none;
    position: absolute;
    right: 16px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    background-image: url(../../../../images/mobile-menu.svg);
    background-position:center;
    background-repeat: none;
    background-size: cover;
  }

  .header__hamburger-menu:hover {
    opacity: .6;
  }

  .header__hamburger-menu:focus {
    outline: none;
  }

  @media screen and (max-width: 560px) {
    .header__hamburger-menu {
      display: inline-block;

    }
  }
