.card__text {
  position: relative;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 790px) {
  .card__text {
    max-width: 224px;
    height: 150px;
  }
}