.page{
width: 100%;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr;
grid-template-areas:
"header header header"
"savednews savednews savednews"
"main main main"
"cards cards cards"
"about about about"
"footer footer footer"
}