@import url(./__input/search__input.css);

.search{
display: flex;
max-width: 608px;
width: 100%;
height: 64px;
position: relative;
}

@media screen and (max-width: 768px){
  .search{
    width: 448px;
    height: 56px;
    padding-top: 22px;
    margin: 0 auto;
  }
  }


@media screen and (max-width: 320px){
  .search{
    width: 288px;
    height: 56px;
    flex-direction: column;
    padding-top: 22px;
    margin: 0 auto;
  }
  }