.main__title{
  width: 608px;
  height: 128px;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  margin: 0 0 32px auto;
}